---
---
img {
object-fit: cover;
display: block;
width: 100%;
height: 80vh;
}

#Contact-form {
    height: 980px;
    background-color: rgb(247, 247, 247);
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    width: 100%;
}

h2 {
    margin: 0;
    color: rgb(179,138,76);
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

form {
    width: 100%;
    max-width:800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    & > div
    {
        box-sizing: border-box;
        width:100%;
        padding: 0px 10px 0px 10px;
    }
    
    label {
        display: block;
    }

    input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 15px 20px;
        font-family:'Open Sans', sans-serif;
    }
    
    textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 150px;
        resize: none;
        font-family:'Open Sans', sans-serif;
        padding: 15px 20px;
        
    }
    
    button {
       display:block;
       width:200px;
       margin:30px auto;
        background-color: gray; 
       color: white;
       border: none;
       padding: 15px 30px;
       cursor: pointer;
        
    }
    
    ::placeholder {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
    

}


@media(max-width: 800px) {
    img {
        height: 40vh;
        margin-bottom: 0;
    }

    #Contact-form {
        padding-top: 30px;
    }

    #Contact-form p {
        padding: 0 60px;
    }

    #Contact-form h2 {
        font-size: 50px;
    }

}
