---
---
#audio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.albumCover {
    grid-area: img;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.audio-player-container {
  --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: relative;
    margin: 100px 2.5% auto 2.5%;
    background: #fff;
    display: grid;
    grid-template-columns: 170px 85px auto 120px;
    grid-template-areas: 
    "img icon text links"
    "img current-time slider duration";
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.play-icon {
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
    grid-area: icon;
    background: transparent;
    cursor: pointer;
    margin-top: 15px;
    height: 85px;
    

}
path {
    stroke: #0e0f0f;
}

h2 {
    margin: 5px;

}

#controls {
    display: flex;
   width: 100%;
    align-items: center;
}

.current-time {
    grid-area: current-time;
    text-align: right;
}

.duration {
    grid-area: duration;
}

.seek-slider {
    grid-area: slider;
    display: block;
    width: 100%;
}

#apple {
    width: 32px;
    height: 32px;
}

#youtube {
    width: 40px;
    height: 45px;
}

#spotify {
    width: 30px;
    height: 30px;
}

#links {
    grid-area: links;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#text {
    grid-area: text;
    padding-top: 10px;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    padding: 0;
    height: 19px;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(175, 172, 172) var(--buffered-width), rgb(175, 172, 172) var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: black;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: black;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(175, 172, 172) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: .007db5;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: black
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: black
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, black var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: black;
}

@media(max-width: 600px) {
    .audio-player-container {
        grid-template-columns: auto;
        grid-template-rows: 3fr 1fr 1fr 1fr fr 1fr;
        grid-template-areas: 
        "img img"
        "slider slider"
        "current-time duration"
        "icon icon"
        "text text"
        "links links";
        justify-content: center;
        gap: 0;
        margin: 20px;
        
    }
    .albumCover {
        grid-area: img;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .current-time {
        margin-top: 0px;
        text-align: left;
    }

    .duration {
        margin-top: 0px;
        text-align: right;
    }

    .play-icon {
        justify-self: center;
        margin-top: 0;
        width: 85px;
    }

    #text {
        text-align: center;
    }

    #links {
        display: flex;
        justify-content: space-evenly;
    }

    #audio {
        padding: 0 35px;
    }
}



#video
{
    background-color: rgb(247, 247, 247);

    .video-gallery-container
    {
        display: flex;
        flex-direction: column;
        background: rgb(247, 247, 247);
        padding: 16px;
        padding-top: 24px;
        gap: 24px;
        color: black;
        justify-content: center;
        max-width: 960px;
        margin: 0 auto;
        margin-top: 100px;
        box-sizing: border-box;
    
        @media(max-width:600px)
        {
            margin-top: 50px;
        }
    
        & *
        {
            box-sizing: border-box;
        }
    
        #frame-holder
        {
            position: relative;
            padding-bottom: 60%;
            width: 100%;
    
            iframe
            {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
    
        .video-title
        {
            line-height: 1.6;
            font-size: 25px;
            margin-top: -15px;
        }
    
        #thumbs
        {
            display:flex; 
            flex-wrap:nowrap;
            overflow: scroll visible;
            width: 100%;
            gap: 10px;
    
            .video
            {
                position: relative;
    
                .thumbnail
                {
                    height: 160px;
                    cursor: pointer;
    
                    @media(max-width: 720px)
                    {
                        height: 90px;
                    }
                }
    
                .play-button
                {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    pointer-events: none;
                    opacity: 0;
                    transition: opacity 400ms ease;
    
                    img
                    {
                        height: 50px;
                        width: 50px;
                    }
                    @media(max-width: 720px)
                    {
                        top: 35%;
                    }
                    @media(max-width: 600px)
                    {
                        top:30%;
                    }
                }
    
    
                &:hover .play-button,
                &[data-active='true'] .play-button 
                {
                    opacity: 1;
                }
    
                p
                {
                    margin: 0 0 5px 0;
                }
    
            }
        }
    }
}