---
title: "Media"
sheet: "/css/media.css"

audio:
  - artist:  "Kallen O&apos;Connor"
    track:   "Schindler&apos;s List"
    spotify: "602fNu8uLA7DFX9ylVH0si"
    youtube: "SMIg7QTq4-U"
    apple:   "schindlers-list-feat-marshall-griffith-single/1564704068"
    mp3:     "schindlers-list"
    
  - artist:  "Emily & Ivory"
    track:   "I Waste My Time"
    spotify: "0gm0wbBvS0SjmedJdqaxyX"
    youtube: "IF7oamq4gEQ"
    apple:   "i-waste-my-time/1538223130?i=1538223148"
    mp3:     "waste-my-time"

  - artist:  "Emily & Ivory"
    track:   "Why Do I Trace My Troubles Back to You"
    spotify: "38jm2hLV6jD3jXJMPpymIM"
    youtube: "plQepYqPVV8"
    apple:   "why-do-i-trace-my-troubles-back-to-you/1538223130?i=1538223144"
    mp3:     "trace-my-troubles"

video:
  "Foo7PwkjR5I": "Hark the Herald Angels Sing"
  "6MrF5GOdEOE": "What Child is This?"
  "8c3-ie20j2E": "Go Tell It On The Mountain"
  "QRvTxrjvdFU": "O Come Come Emmanuel feat. Kallen O'Connor, Violin"
  "hTCrP4PteVU": "O Come Come Emmanuel, Emily & Ivory"
  "gvp4Ecdm1dE": "Parkside Church Easter Service - April 12, 2020"
  "mtyD5Vtyq8s": "Strauss Violin Sonata"

---
<main>
    <div id="audio">
        {% for song in page.audio %}
            <div class="audio-player-container">
                <audio src="{{site.baseurl}}/mp3/{{song.mp3}}.mp3" preload="metadata" loop></audio>
                <img class="albumCover" src="https://i.ytimg.com/vi/{{song.youtube}}/mqdefault.jpg">
                <button class="play-icon"></button>
                <div id="text">
                    <h2>{{song.artist}}</h2>
                    <h2><em>{{song.track}}</em></h2>
                </div>
                <span class="current-time time">0:00</span>
                <input type="range" class="seek-slider" max="100" value="0">
                <span class="duration time">0:00</span>
                <div id="links">
                    <a href="https://open.spotify.com/track/{{song.spotify}}"  target="_blank"><img id="spotify" src="{{site.baseurl}}/img/spotifyLogo.png"   ></a>
                    <a href="https://www.youtube.com/watch?v={{song.youtube}}" target="_blank"><img id="youtube" src="{{site.baseurl}}/img/YouTubeLogo.png"   ></a>
                    <a href="https://music.apple.com/us/album/{{song.apple}}"  target="_blank"><img id="apple"   src="{{site.baseurl}}/img/AppleMusicLogo.png"></a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="video">
        <div class="video-gallery-container">
            {% for YTID in page.video %}
                {% if forloop.first %}
                    <div id="frame-holder">
                        <iframe src="https://www.youtube.com/embed/{{ YTID[0] }}?rel=0" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <h3 class="video-title">{{ YTID[1] }}</h3>
                    {% break %}
                {% endif %}
            {% endfor %}
            <div id="thumbs">
                {% for YTID in page.video %}
                    <div class="video">
                        <img class="thumbnail" src="https://i.ytimg.com/vi/{{ YTID[0] }}/mqdefault.jpg" data-id="{{ YTID[0] }}" data-title="{{ YTID[1] }}" />
                        <div class="play-button"><img src="{{site.baseurl}}/img/Playbutton.png" alt=""></div>
                        <p>{{ YTID[1] }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>

<script src="{{site.baseurl}}/js/player-audio.js" type="module"></script>
<script src="{{site.baseurl}}/js/player-video.js" type="module"></script>
