---
title: "Media"
sheet: "/css/media.css"

audio:
  - artist:  "Kallen O&apos;Connor"
    track:   "Schindler&apos;s List"
    spotify: "602fNu8uLA7DFX9ylVH0si"
    youtube: "SMIg7QTq4-U"
    apple:   "schindlers-list-feat-marshall-griffith-single/1564704068"
    mp3:     "schindlers-list"
    art:     "Schindler's List Cover Art.png" 
    
  - artist:  "Emily & Ivory"
    track:   "I Waste My Time"
    spotify: "0gm0wbBvS0SjmedJdqaxyX"
    youtube: "IF7oamq4gEQ"
    apple:   "i-waste-my-time/1538223130?i=1538223148"
    mp3:     "waste-my-time"
    art:     "Emily and Ivory Album Cover.jpg"

  - artist:  "Emily & Ivory"
    track:   "Why Do I Trace My Troubles Back to You"
    spotify: "38jm2hLV6jD3jXJMPpymIM"
    youtube: "plQepYqPVV8"
    apple:   "why-do-i-trace-my-troubles-back-to-you/1538223130?i=1538223144"
    mp3:     "trace-my-troubles"
    art:     "Emily and Ivory Album Cover.jpg"

video:
  "Foo7PwkjR5I": "Hark the Herald Angels Sing"
  "6MrF5GOdEOE": "What Child is This?"
  "8c3-ie20j2E": "Go Tell It On The Mountain"
  "QRvTxrjvdFU": "O Come Come Emmanuel feat. Kallen O'Connor, Violin"
  "hTCrP4PteVU": "O Come Come Emmanuel, Emily & Ivory"
  "gvp4Ecdm1dE": "Parkside Church Easter Service - April 12, 2020"
  "mtyD5Vtyq8s": "Strauss Violin Sonata"

---
<main>

    {% comment %} Find the first video title and id and store that as new variables {% endcomment %}
    {% for video in page.video %}
        {% if forloop.first %}
            {% capture first_video_title %}{{video[1]}}{% endcapture %}
            {% capture first_video_id %}{{video[0]}}{% endcapture %}
        {% endif %}
    {% endfor %}

    <div id="audio">
        {% for song in page.audio %}
            <div class="audio-player-container">
                <audio src="{{site.baseurl}}/mp3/{{song.mp3}}.mp3" preload="metadata" loop></audio>
                <img class="albumCover" src="{{site.baseurl}}/img/{{song.art}}">
                <button class="play-icon"></button>
                <div id="text">
                    <h2>{{song.artist}}</h2>
                    <h2><em>{{song.track}}</em></h2>
                </div>
                <span class="current-time time">0:00</span>
                <input type="range" class="seek-slider" max="100" value="0">
                <span class="duration time">0:00</span>
                <div id="links">
                    <a href="https://open.spotify.com/track/{{song.spotify}}"  target="_blank"><img id="spotify" src="{{site.baseurl}}/img/spotifylogo.png"   ></a>
                    <a href="https://www.youtube.com/watch?v={{song.youtube}}" target="_blank"><img id="youtube" src="{{site.baseurl}}/img/YouTubeLogo.png"   ></a>
                    <a href="https://music.apple.com/us/album/{{song.apple}}"  target="_blank"><img id="apple"   src="{{site.baseurl}}/img/AppleMusicLogo.png"></a>
                </div>
            </div>
        {% endfor %}
        <script type="module">
            // @ts-check
            /** Implementation of the presentation of the audio player */
            import lottieWeb from 'https://cdn.skypack.dev/lottie-web';
            {

                /** @typedef {()=>void} AnimationAction */
                /** @typedef {{Init:AnimationAction, Play:AnimationAction, Stop:AnimationAction}} AnimationControls */
                /** @typedef {(inElement:HTMLElement)=>AnimationControls} AnimationConstructor */

                /** @type {AnimationConstructor} */
                function Animation(inElement)
                {
                    const Animation = lottieWeb.loadAnimation({
                        container: inElement,
                        renderer: 'svg',
                        autoplay: false,
                        loop: false,
                        name: "Play Animation",
                        path: 'https://maxst.icons8.com/vue-static/landings/animated-icons/icons/pause/pause.json'
                    });
                    
                    return {
                        Init: ()=> Animation.goToAndStop(14, true),
                        Play: ()=> Animation.playSegments([14, 27], true),
                        Stop: ()=> Animation.playSegments([0, 14], true)
                    };
                }


                const Util =
                {
                    /** @type {(inSeconds:number|string)=>string} */
                    FormatTime(inSeconds)
                    {
                        inSeconds = typeof inSeconds == "number" ? inSeconds : parseFloat(inSeconds);
                        const minutes = Math.floor(inSeconds / 60);
                        const seconds = Math.floor(inSeconds % 60);
                        return `${minutes}:${seconds<10?"0":""}${seconds}`;
                    },
                    /** @type {(inPart:number|string, inWhole:number|string)=>string} */
                    FormatPercent(inPart, inWhole)
                    {
                        inPart  = typeof inPart  == "number" ? inPart  : parseFloat(inPart);
                        inWhole = typeof inWhole == "number" ? inWhole : parseFloat(inWhole);
                        return `${(inPart/inWhole) * 100}%`;
                    },
                    /** @type {(inHandler:()=>void)=>{Play:()=>void, Stop:()=>void }} Repeatedly call a function. Returns controls to "play" and "stop" to polling */
                    Cycle(inHandler) {
                        /** @type {false|number} */
                        let Live = false;
                        const _run= ()=>
                        {
                            inHandler();
                            Live = requestAnimationFrame(_run);
                        };
                        const Play =()=>
                        {
                            if(Live){ return; }
                            Live = requestAnimationFrame(_run);
                        };
                        const Stop =()=>
                        {
                            if(Live === false){ return; }
                            cancelAnimationFrame(Live);
                            Live = false;
                        };

                        return { Play, Stop }; 
                    }
                    
                }

                /** @type {((animate?:boolean)=>void)[]} list of stop functions for each player*/
                const AudioPlayers = [];
                globalThis.StopAudioPlayers =()=> AudioPlayers.forEach(stopFunction=>stopFunction(false))

                /** @type {(rootElement:HTMLElement)=>void} */
                function initPlayer(rootElement) {

                    /** @type {null|HTMLAudioElement} */ const domSong = rootElement.querySelector('audio');
                    /** @type {null|HTMLInputElement} */ const domSeek = rootElement.querySelector('.seek-slider');
                    /** @type {null|HTMLElement}      */ const domPlay = rootElement.querySelector('.play-icon');
                    /** @type {null|HTMLElement}      */ const domTime = rootElement.querySelector('.current-time');
                    /** @type {null|HTMLElement}      */ const domSize = rootElement.querySelector('.duration');
                    
                    if(!domSong || !domPlay || !domSeek || !domTime || !domSize ){ return; }

                    const loop = Util.Cycle(()=>
                    {
                        const time = Math.floor(domSong.currentTime);
                        domSeek.value = time.toString();
                        domTime.textContent = Util.FormatTime(time);
                        rootElement.style.setProperty('--seek-before-width', Util.FormatPercent(time, domSeek.max));
                    });

                    const updateFileSize =()=>
                    {
                        if(domSong.buffered.length)
                        {
                            const bufferedAmount = Math.floor(domSong.buffered.end(domSong.buffered.length - 1));
                            rootElement.style.setProperty('--buffered-width', Util.FormatPercent(bufferedAmount, domSeek.max));
                        }
                        domSize.textContent = Util.FormatTime(domSong.duration);
                        domSeek.max = Math.floor(domSong.duration).toString();
                    };

                    // state stuff
                    let Playing = false;
                    const Stop =()=>
                    {
                        domSong.pause();
                        Playing && anim.Stop();
                        loop.Stop();
                        Playing = false;
                    };
                    AudioPlayers.push(Stop);
                    const Play =()=>
                    {
                        globalThis.StopAudioPlayers();
                        domSong.play();
                        anim.Play();
                        loop.Play();
                        Playing = true;
                    };

                    // while the slide moves
                    domSeek.addEventListener('input', (e) =>
                    {
                        const target = /** @type {HTMLInputElement} */(e.target);
                        rootElement.style.setProperty('--seek-before-width', Util.FormatPercent(target.value, target.max));
                        domTime.textContent = Util.FormatTime(domSeek.value);
                        Playing && Stop();
                    });

                    // when slider interaction has stopped
                    domSeek.addEventListener('change', () =>
                    {
                        domSong.currentTime = parseInt(domSeek.value);
                        !Playing && Play();
                    });

                    // when the play/pause button is pressed
                    domPlay.addEventListener('click', ()=> Playing ? Stop() : Play());

                    // periodically update loaded/duration numbers
                    domSong.addEventListener('loadedmetadata', updateFileSize);
                    domSong.addEventListener('progress', updateFileSize);
                    updateFileSize();
                    
                    // setup the play button animation
                    const anim = Animation(domPlay);
                    anim.Init();
                }

                document.querySelectorAll('.audio-player-container').forEach((player)=>
                {
                    initPlayer( /** @type {HTMLElement}*/(player) );
                });
            }
        </script>
    </div>

    <div id="video">
        <div class="video-gallery-container">
                <div id="frame-holder">
                    <div id="yt">
                        <!-- fallback iframe if the YT player code doesnt work-->
                        <iframe src="https://www.youtube.com/embed/{{ first_video_id }}?rel=0" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <h3 class="video-title">{{ first_video_title }}</h3>
            <div id="thumbs">
                {% for YTID in page.video %}
                    <div class="video" data-video="{{ YTID[0] }}" data-title="{{ YTID[1] }}">
                        <img class="thumbnail" src="https://i.ytimg.com/vi/{{ YTID[0] }}/mqdefault.jpg" data-title="{{ YTID[1] }}" />
                        <div class="play-button"><img src="{{site.baseurl}}/img/Playbutton.png" alt=""></div>
                        <p>{{ YTID[1] }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script defer src="https://www.youtube.com/iframe_api"></script>
        <script type="module">
{
    /**
     * Controls the playback of a YT video. If an id is passed, will play the video with that id. With no arguments, will pause the video.
     * @typedef {(inYTID?:string)=>void} Controls */

    /**
     * When the video changes, this handler will be called for each thumbnail element; with the 2nd argument being if the element is now active.
     * @typedef {(element:HTMLElement, on:boolean)=>void} ChangeHandler */

    /**
     * mock type for the youtube player
     * @typedef { {playVideo:()=>void, loadVideoById:(id:string)=>void}, playerInfo:number} } YouTubePlayer */

    /**
     * List of all player controls by DOM id
     * @type {Record<string, Controls>}
    */
    const List = {};

    /**
     * Creates a new YouTube player
     * @param {string} inDOMID The DOM id of the element to become the player
     * @param {string} inYTID The id of the YouTube video to start with
     * @param {string} inAttr Elements with this attribute are assumed to have YouTube video id for the attribute value; clicking on them will play the video with this id.
     * @param {ChangeHandler} inChangeHandler
     * @returns {Controls}
     */
    function Make(inDOMID, inYTID, inAttr, inChangeHandler)
    {
        let _player;

        const redrawThumbnails =(inID)=> document.querySelectorAll(`[${inAttr}]`).forEach((/** @type {HTMLElement}*/e)=>inChangeHandler(e, e.getAttribute(inAttr)==inID));

        /** @type {Controls} */
        const toggle =(inYTID)=>
        {
            if(!inYTID)
            {
                _player.pauseVideo();
            }
            else if(inYTID != _player.playerInfo.videoData.video_id)
            {
                _player.loadVideoById(inYTID); redrawThumbnails(inYTID);
            }
            else if(_player.playerInfo.playerState == 2 || _player.playerInfo.playerState == 5)
            {
                _player.playVideo();
            }
        }

        globalThis.onYouTubeIframeAPIReady =()=> _player = new YT.Player( inDOMID, {videoId: inYTID, playerVars: { modestbranding: true, rel: 0 }});
        globalThis?.YT?.loaded && globalThis.onYouTubeIframeAPIReady();

        redrawThumbnails(inYTID);
        document.body.addEventListener("click", (event)=>{
            const match = /** @type {HTMLElement[]}*/(event.composedPath()).find((step)=>step.hasAttribute(inAttr));
            toggle( match?.getAttribute(inAttr) || undefined )
        });
        this.List[inDOMID] = toggle;
        return toggle;
    };
    

    globalThis.StopVideoPlayers =()=>
    {
        Object.values(List).forEach(p=>p());
    }

    // {% comment %} note the way the 2nd argument is actually a liquid page variable {% endcomment %}
    Make("yt", "{{first_video_id}}", "data-video", (element, match)=>
    {
        element.setAttribute("data-active", match.toString());
        if(match)
        {
            const titleElement = document.querySelector(".video-title");
            if(titleElement)
            {
                titleElement.innerHTML = element.getAttribute("data-title") || "";
            }
        }
    });

};

        </script>
    </div>

</main>
